src/main/mule/mail1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4c055a5a-4dff-4866-8ae3-dd5425f38d7e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="3aed692f-a572-4424-9979-45c03fb746c4" />
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="087f67e4-1db4-4ba4-95b0-a376d6ba882a" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="kittu11avula@gmail.com" password="nmghldluefkbkbpz" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="mail1Flow" doc:id="b517c48d-e8d2-40eb-8e23-3211c549b613" >
		<http:listener doc:name="Listener" doc:id="b4ecd2e8-d0d6-4425-a749-f01002fd0896" config-ref="HTTP_Listener_config" path="/mail1"/>
		<file:read doc:name="Read" doc:id="7296f6d2-9dfb-4b93-bda6-fcb0dc374be1" config-ref="File_Config" path="C:\Users\ADMIN\Downloads\APDevFundamentals4.4_studentFiles_SP_27jun2022\resources\examples\AmericanFlightExample.raml"/>
		<email:send doc:name="Send" doc:id="2b882d88-f434-4244-b5f9-ae1d720d6145" config-ref="Email_SMTP" fromAddress="kittu11avula@gmail.com">
			<email:to-addresses >
				<email:to-address value="pvnyamrutha@gmail.com" />
			</email:to-addresses>
			<email:attachments ><![CDATA[#[{
"attachment.txt": payload
}]]]></email:attachments>
		</email:send>
		<set-payload value="ipl auction" doc:name="Set Payload" doc:id="2c955af4-13d3-456c-8a65-aca50e0ef1bf" />
		<logger level="INFO" doc:name="Logger" doc:id="ba38fec8-0196-4b9d-9d2e-829f8d447da2" />
	</flow>
</mule>
